src/main/resources/xsd/Informatiemodel_Geluid/unknown/v20191202/Informatiemodel_Geluid_BGEAlgemeen_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:BGEAlgemeen="http://geluidgegevens.nl/BGEalgemeen"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:imvert="http://www.imvertor.org/schema/system"
           xmlns:nen3610="http://www.geonovum.nl/NEN3610/schemas/v20110301"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:Algemeen="http://geluidgegevens.nl/algemeen"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://geluidgegevens.nl/BGEalgemeen"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0.0">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">MIMLM</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">Informatiemodel Geluid</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20191202</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">1.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">http://geluidgegevens.nl/BGEalgemeen</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2020-04-14T07:13:25Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">Informatiemodel Geluid/unknown/v20191202/Informatiemodel_Geluid_BGEAlgemeen_v1_0.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">April 14, 2020 at 07:13:25</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.59.3</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
   <xs:import namespace="http://www.geonovum.nl/NEN3610/schemas/v20110301"
              schemaLocation="../../../NEN3610/v20110301/NEN3610_NEN3610_v1_0_0.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="../../../gml/3.2.1/gml.xsd"/>
   <xs:import namespace="http://geluidgegevens.nl/algemeen"
              schemaLocation="../../../Informatiemodel_Geluid/unknown/v20191202/Informatiemodel_Geluid_Algemeen_v1_0.xsd"/>
   <xs:element name="Basisgeluidemissieobject"
               type="BGEAlgemeen:BasisgeluidemissieobjectType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Deel van een (spoor)weg, waarover de geluidemissie van weg en/of spoor verkeer constant kan worden veronderstel - gelet op het type wegdek / bovenbouw, gemiddelde snelheid en verkeersintensiteiten - en waarvoor het bevoegd gezag een basisgeluidemissie weg of spoor heeft bepaald 
Explanation: Het basisgeluidemissieobject is een verzamelobject dat de in een bepaling vastgestelde BGE-waarde opslaat, samen met informatie over het basisjaar waarop de BGE van toepassing is/waarin het BGE is vastgelegd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BasisgeluidemissieobjectType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="nen3610:NEN3610ID">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="basisgeluidemissiewaarde" type="gml:MeasureType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De basisgeluidemissie is de referentie bij de monitoring van het geluid van gemeentewegen, waterschapswegen en lokale spoorwegen waarvoor geen geluidproductieplafond als omgevingswaarde is vastgesteld. De basisgeluidemissie is de in het referentie- of basisjaar bij het in werking treden van de nieuwe regels vastgestelde situatie.
Explanation: De gemiddelde geluidemissie wordt gebruikt om de basisgeluidemissie en de monitoringswaarde te berekenen. Alleen parameters die van invloed zijn op de geluidemissie zijn hierbij van belang. Er geldt één gemiddelde geluidemissie voor een homogeen wegdeel. Een wegdeel kan bestaan uit een enkele rijlijn of spoorlijn, maar ook uit combinaties van meerdere rij- en/of spoorlijnen. Voor het bepalen van een geluidemissie is het van belang uit te kunnen gaan van representatieve waarden voor een wegvak. Zo kunnen kleine onderbrekingen in wegdektype buiten beschouwing worden gelaten. Ook is het niet noodzakelijk in detail rotondes en kruisingen te beschouwen. Het bevoegd gezag heeft hiermee enige vrijheid in gewenst detailniveau bij het berekenen van een basisgeluidemissie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="emissieverschil"
                           nillable="false"
                           type="Algemeen:MonitoringresultaatType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De verzameling van vijfjaarlijks berekende verschilwaarden ten opzichte van de basisgeluidemissie.
Explanation: De monitoringswaarde wordt elke vijf jaar aangeleverd en heeft derhalve een eigen materiele historie. Het eerste monitoringsresultaat is de basisgeluidemissie. Het attribuut emissieverschil komt dan niet voor.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="metadataBerekening"
                           nillable="false"
                           type="Algemeen:GeluidberekeningobjectPropertyType"/>
               <xs:element maxOccurs="unbounded"
                           name="emissieobject"
                           nillable="false"
                           type="Algemeen:GeluidemissieobjectPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een abstracte representatie van een onderdeel van een gemeente of waterschapsweg/-spoor of dat gebruikt wordt om geluidproductie in akoestisch onderzoek te simuleren, of de verzameling daarvan die gebruikt zijn voor de bepaling van een basisgeluidemissie, of gebruikt dient te worden als prognoseobject bij geluidbelastingberekeningen.
Explanation: Een rekenobject kan ook meerder BGE's hebben indien een lokaal spoor niet als BGE-spoor, maar als BGE-weg gemodelleerd wordt. Hierdoor kan een M:N-relatie ontstaan. Naast de optie om lokaal spoor als BGE-spoor te modelleeren, zijn er drie manieren om het lokale spoor als BGE-weg te modelleeren (opgesomt in oplopende volledigheid): Alle onderdelen van het lokaal spoor met exact dezelfde attribuutwaarden, modelleer je als één instantie . Geografisch is dit een vreemde oplossing, want daardoor kan een rekenobject bij meerdere BGE's horen. Visueel zou je het willen opknippen in aparte spoordelen gebasseerd op de BGE, waardoor een rekenobject altijd aan slechts één BGE toebehoort. Echter, om de drempel van de administratieve lasten laag te houden, geeft de regelgeving deze mogelijkheid aan de bevoegde gezagen. Alle onderdelen van het lokaal spoor opdelen in aparte instanties per 'geografisch bereik' van de BGE. Hierdoor krijgen alle delen van het lokaal spoor relatief hetzelfde zelfde begin en eindpunt als de bijbehorende lokale weg. Hetzelfde als optie 2, maar ter ondersteuning en verduidelijking, de toevoeging van een polygoon van de BGE als indicatieve ligging. Deze optie verdient de voorkeur, om het abstracte concept van een BGE inzichtelijk en tastbaar te maken LET OP: deze optie wordt niet ondersteunt! Vooralsnog ondersteunt het IM optie 1 en 2. Ter overweging is ook optie 3 als facultatieve mogelijkheid faciliteren. Er moet minimaal voldaan zijn aan optie 1 uit de toelichting. Optie 2 mag. Prognoseobjecten Een EmissieobjectBGE heeft altijd een Basisgeluidemissieobject, omdat daarmee vastgelegd hoe de emissie objecten voor de geluidbelastingberekening gegroepeerd dienen te worden. Er wordt in dat geval echter geen basisgeluidemissie berekend en als waarde meegeleverd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BasisgeluidemissieobjectPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="BGEAlgemeen:Basisgeluidemissieobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Spoordeel"
               type="BGEAlgemeen:SpoordeelType"
               substitutionGroup="Algemeen:Geluidemissieobject">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Kleinste functioneel onafhankelijk stukje van een NEN 3610 Weg met gelijkblijvende, homogene akoestische eigenschappen en relaties en primair bedoeld voor het representeren van akoestische eigenschappen van lokaal spoorverkeer, zoals een metro, tram of lightrail.
Explanation: Dit een op akoestische toepassingen toegespitste definitie van een BGT-wegdeel. De akoestische representatie van een geluidbronnen op lokaal spoor, kent in tegenstelling tot de Basisregistratie Grootschalige Topografie geen vlak-geometrie, maar een lijn-geometrie (zie ook: 'geospoortak').</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SpoordeelType">
      <xs:complexContent>
         <xs:extension base="Algemeen:GeluidemissieobjectType">
            <xs:sequence>
               <xs:element name="wissel" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een wissel is een installatie in een spoorweg om een trein, metro of tram naar een ander spoor te leiden
Explanation: Geospoortak maakt deel uit van een wissel</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="bovenbouwgegevens"
                           nillable="false"
                           type="Algemeen:BovenbouwgegevensSpoorType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De constructie die het dragen en geleiden van spoorvoertuigen verzorgd en gelegen is op de onderbouw (het geheel van aardenbaan en kunstwerken. Dit is de dragende constructie voor de bovenbouw).
Explanation: Het geheel van spoorconstructie: (dikte van) ballastbed, dwarsligger, bevestiging, voegen en railruwheid. Er bestaan 2 bovenbouwconstructies, te weten: De ballastconstructie; deze bestaat uit ballast, dwarsliggers, spoorstaven en wissels alsmede het bijbehorende bevestigingsmateriaal; Ballastloze constructie; deze bestaat uit: een doorlopende plaat van beton, spoorstaven, bevestigingsmiddelen al dan niet gevat in een gietmassa. Komt o.a. voor bij tankinstallatie, wasinstallaties en kunstwerken</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geospoortak" type="gml:CurvePropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Deel van een spoorweg, waarover de geluidemissie van spoorvoertuiggeluid min of meer constant kan worden verondersteld, gelet op de snelheden, intensiteiten, bovenbouwconstructie en de baangesteldheid.
Explanation: Heeft 2D-geometrie Het bevoegd gezag bepaalt zelf de locatie en de hoeveelheid rijlijnen die het nodig acht voor de bepaling van de basisgeluidemissie en de monitoring daarvan. Dit wordt ook wel de bronregisterlijn genoemd. Dit is de lijn die betrekking heeft op een gedeelte van een weg of spoorweg en die gebruikt wordt als rijlijn in de zin van bijlage III bij deze regeling of bronlijn in de zin van bijlage IV bij deze regeling bij bepaling van het equivalent geluidsniveau ten behoeve van de geluidproductie volgens de in bijlage V bij deze regeling gegeven regels. Het begin- en eindpunt van de lijn wordt bepaald door het punt in de ruimte waarop één van de akoestische eigenschappen van de geluidbron wijzigt. Een spoor in het informatiemodel is opgebouwd uit allemaal afzonderlijke segmenten, de spoordelen. Een spoordeel dient homogene eigenschappen te hebben. Indien één van de eigenschappen van een spoordeel verandert, bijvoorbeeld de snelheid, dan ontstaat er een nieuw spoordeel. Deze modellering wijkt af van het dynamisch gesegmenteerde model waar ProRail zelf mee werkt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="intensiteitgegevens"
                           nillable="false"
                           type="Algemeen:IntensiteitgegevensSpoorType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Verzameling van intensiteitsgegevens van treinvoertuigen die zich over een geospoortak verplaatsen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="snelheidgegevens"
                           nillable="false"
                           type="Algemeen:SnelheidgegevensSpoorType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Verzameling van snelheidsgegevens van treinvoertuigen die zich over een geospoortak verplaatsen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SpoordeelPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="BGEAlgemeen:Spoordeel"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
</xs:schema>
